$color-principal: rgb(162, 226, 252); //color para header y footer

$color-luces: 1px 0px 10px rgba(16, 233, 16, 0.5); //color luces de iconos

$color-boton: rgb(75, 77, 214);

$sombra: -1px -3px 8px rgba(0, 0, 0, 0.5);

$width-responsive:100%;
